@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    background-image: url('https://images.pexels.com/photos/273886/pexels-photo-273886.jpeg');
    background-size: fill;
    background-position: center;
    height: auto;
    background-repeat: no-repeat;
} 

mx-auto max-w-md {
  /* Check if there's a fixed height set for your container */
  /* Try removing any fixed height or setting it to auto */
  height: auto;
} 